<table id="colour_picker">
  <% palettes.each do |palette| %>
    <tr>
      <% palette.colours.each do |colour| %>
        <td class="select_colour" style="background-color:  <%= colour %> ">
        </td>	
      <% end %>
    </tr>
  <% end %>
</table>
