<p>
	Enter your new password below.
</p>

<% if @change_password_failed %>
<div class="error">
	There was an error updating your password
</div>
<% end %>

<% if @change_password_successful %>
<div class="information">
	Your password has been updated.
</div>
<% end %>

<form method="POST">
	<fieldset>
		<legend>Change Password</legend>

	</fieldset>
</form>