<p>
Enter your email address and click Send to send a password recovery email.
</p>

<% if @forgotten_password_failed %>
  <div class="error">
    An account with the specified email address does not exist.
  </div>
<% end %>
<% if @forgotten_password_succeeded %>
  <div class="information">
    An email has been sent to the email address that you specified.
  </div>
<% end %>
<form method="post">
  <div>
    <fieldset>
      <legend>Forgotten Password</legend>
      <p>
      <label for="email">
        Email:
      </label>
      <input type="text" name="email"></input>
      </p>
      <p>
      <input type="submit" value="Send">
      </p>
    </fieldset>
  </div>
</form>
