<p>
	Enter your new password below.
</p>

<% if @change_password_failed %>
<div class="error">
	There was an error updating your password
</div>
<% end %>

<% if @change_password_successful %>
<div class="information">
	Your password has been updated. Click <a href="/login">here</a> to login.
</div>
<% end %>

<form method="POST">
	<fieldset>
		<legend>Change Password</legend>
		<p>
			<label for="password">
				Password:
			</label>
			<input type="password" id="password" name="password"></input>
		</p>
		<p>
			<label for="password_confirmation">
				Confirm Password:
			</label>
			<input type="password" id="password_confirmation" name="password_confirmation"></input>
		</p>
		<p>
			<input type="submit" value="Change Password"></input>
		</p>
	</fieldset>
</form>