<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Listabulous Forgotten Password Email</title>
</head>
<body>
	<p>
		Someone has requested a forgotten password email from <a href="http://www.listabulous.co.uk">listabulous.co.uk</a>.	
	</p>
	<p>
		If this someone is you, then you may want to <a href="http://www.listabulous.co.uk/change_password/?email=<%= email%>&key=<%= key %>">click here</a> to change your password.
	</p>
	<p>
		If this someone isn't you then nothing to see here. Move along.
	</p>
</body>
</html>