<div id="List">
	<table id="ColourPicker">
<!--
	        foreach (Listabulous.ColourPalette colourPalette in Model.Palettes)
	        {
	    <tr>
	            foreach (string colour in colourPalette.Colours)
	            {
	        <td class="SelectColour" style="background-color:  colour ">
	        </td>
	            }
	    </tr>
	        }
			-->
	
	</table>
	
    <div id="ListItemEntryContainer">
	<!--
        <div id="ChooseDefaultColour" style="background-color:  Model.User.DefaultColour ">
        </div>
-->

        <div id="ListItemEntryBox">
            <input type="text" id="ListItemEntry" value="" />
        </div>
    </div>
    <div id="ListItems">
        <ul id="ListItemContainer">
<!--
                foreach (var listItem in Model.ListItems)
                {
                    Html.RenderPartial("ListItem", listItem);
                }
         -->
        </ul>
    </div>
</div>