<div id="list">
<%= erb(:colour_picker, :layout => false, :locals => { :palettes => Palette.default_palettes }) %>
<div id="list_item_entry_container">
	<div id="choose_default_colour" style="background-color:  <%= escape_html @current_user.default_colour %>; ">
	</div>

	<div id="list_item_entry_box">
		<input type="text" id="list_item_entry" autocomplete="off" />
	</div>
</div>
<div id="list_items">
	<ul id="list_item_container">
		<% @current_user.list_items.each do |list_item| %>
		<%= erb(:list_item, :layout => false, :locals => { :list_item => list_item }) %>
		<% end %>
	</ul>
</div>
</div>