<li class="ListItem<%= list_item.complete ? " Complete" : "" %>">
	<input type="hidden" class="ListItemId" value="<%= list_item._id.to_s %>" />
	<div class="ChooseListItemColour" style="background-color: <%= escape_html list_item.colour %>">
	</div>
	<div class="DeleteListItem">
	</div>
	<div class="ListItemTitle">
		<%= escape_html list_item.text %>
	</div>
</li>