<script type="text/javascript">
$(document).ready(function () {
	$("#login").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true
			}
		}
	});
	$("#forgotten_password").validate({
		rules: {
			forgotten_password_email: {
				required: true,
				email: true
			}
		}	
	});
});
</script>
<p>
	Enter your email address and password to login. If you're a new user, click
	<a href="/register">here</a>
	to create an account.
</p>


<% if @login_failed %>
<div class="error">
	Login has failed
</div>
<% end %>

<form id="login" method="post">
	<div>
		<fieldset>
			<legend>Login</legend>
			<p>
				<label for="email">
					Email:
				</label>
				<input type="text" name="email"></input>
			</p>
			<p>
				<label for="password">
					Password:
				</label>
				<input type="password" name="password"></input>
			</p>
			<p>
				<label for="remember">
					<input type="checkbox" id="remember" name="remember"></input>
					Remember details?
				</label>
			</p>
			<p>
				<input type="submit" value="Login"></input>
			</p>
		</fieldset>
	</div>
</form>
<p>
	If you have forgotten your password, enter your email address and click Send to send a password recovery email.
</p>

<% if @forgotten_password_failed %>
<div class="error">
	An account with the specified email address does not exist.
</div>
<% end %>
<% if @forgotten_password_succeeded %>
<div class="information">
	An email has been sent to the email address that you specified.
</div>
<% end %>
<form id="forgotten_password" method="post">
	<div>
		<fieldset>
			<legend>Forgotten Password</legend>
			<p>
				<label for="forgotten_password_email">
					Email:
				</label>
				<input type="text" name="forgotten_password_email"></input>
			</p>
			<p>
				<input type="submit" value="Send">
			</p>
		</fieldset>
	</div>
</form>