<script type="text/javascript">
$(document).ready(function () {
	$("form").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			display_name: {
				required: true
			},
			password: {
				required: true,
				minlength: 5
			},
			password_confirmation: {
				required: true,
				equalTo: "password"
			}
		}
	});
});
</script>
<p>
	Please create an account by entering your details below.
</p>
<% if @email_already_in_use %>
<div class="error">
	There is already an account registered with this email address
</div>
<% end %>
<% if @account_creation_errors %>
<div class="error">
	<%= @account_creation_errors %>
</div>
<% end %>
<form method="post">
	<div>
		<fieldset>
			<legend>Register</legend>
			<p>
				<label for="email">
					Email:
				</label>
				<input type="text" name="email"></input>
			</p>
			<p>
				<label for="display_name">
					Display Name:
				</label>
				<input type="text" name="display_name"></input>
			</p>
			<p>
				<label for="password">
					Password:
				</label>
				<input type="password" name="password"></input>
			</p>
			<p>
				<label for="password_confirmation">
					Confirm Password:
				</label>
				<input type="password" name="password_confirmation"></input>
			</p>
			<p>
				<label for="remember">
					<input type="checkbox" name="remember"></input>
					Remember details?
				</label>
			</p>
			<input type="submit" value="Register"></input>
		</fieldset>
	</div>
</form>